img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#gpa-result {
    color: maroon;
    text-align: center;
    font-size: 2em;
    background: gold;
    padding: 20px;
}