html {
    font-family: Arial, sans-serif;
    background: palegoldenrod;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav > a {
    margin: 4px;
    text-decoration: none;
    color: firebrick;
    background-color: gold;
    padding: 4px;
    border: 4px solid gold;
    border-radius: 4px;
}

nav > a:hover {
    margin: 4px;
    text-decoration: none;
    color: gold;
    background-color: firebrick;
    padding: 4px;
    border: 4px solid firebrick;
    border-radius: 4px;
}

span {
    display: block;
}

hr {
    border: 2px solid firebrick;
}
#gpa-result {

    color: firebrick;
    text-align: center;
    font-size: 2em;
    background: gold;
    padding: 20px;
    margin: 0;
}